:root {
	--#{$prefix}body-bg: #{$body-bg};
	--#{$prefix}body-color: #{$body-color};
	--#{$prefix}card-bg: #{$card-bg};
	--#{$prefix}card-header-bg: #{$card-header-background-color};
	--#{$prefix}card-footer-bg: #{$card-header-background-color};
	--#{$prefix}border-radius: #{$border-radius};
	--primary-color: #{$primary};
	--secondary-color: #{$secondary};
}

[theme='dark']:root {
	// Body
	--#{$prefix}body-bg: #{$dark-body-bg};
	--#{$prefix}body-color: #{$dark-body-color};
}