
  
  .water-tank {
    width: 13em;
    height: 25em;
    border: 0.3em solid #3A3A3A;
    border-top: none;
    box-sizing: border-box;
    position: relative;
  }
  
  .water-tank .liquid {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  
  .water-tank .liquid svg {
    height: 30em;
    top: calc(97.5% - 57%);
    position: absolute;
    animation: waves 5s infinite linear;
  }
  
  @keyframes waves {
    0% { transform: translateX(-15em); }
    100% { transform: translateX(0); }
  }
  
  .water-tank .label {
    position: absolute;
    color: white;
    line-height: 2em;
    width: 4em;
    text-align: center;
    border-radius: 0.5em;
    margin-bottom: -1em;
    background-color: #3A3A3A;
    right: -4.9em;
  }
  
  .water-tank .label:before {
    content: "";
    position: absolute;
    background-color: #3A3A3A;
    width: 0.7em;
    height: 0.7em;
    top: 0.65em;
    left: -0.3em;
    transform: rotate(45deg);
  }
  
  .water-tank .indicator {
    position: absolute;
    background-color: #3A3A3A;
    height: 0.3em;
    width: 1em;
    margin-bottom: -0.15em;
    right: 0;
  }
  