.toggleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    display: none;
}

.switch {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(45, 45, 45);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(180, 180, 180);
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
    transition: all 0.3s ease;
}

.svg {
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.svg path {
    fill: rgb(180, 180, 180);
    transition: all 0.3s ease;
}

.checkbox:checked+.switch .svg {
    filter: drop-shadow(0px 0px 3px rgb(222, 151, 255));
}

.checkbox:checked+.switch .svg path {
    fill: rgb(255, 255, 255);
}

.checkbox:checked+.switch {
    box-shadow: 0px 0px 1px rgb(222, 151, 255) inset,
        0px 0px 2px rgb(222, 151, 255) inset,
        0px 0px 10px rgb(222, 151, 255) inset,
        0px 0px 30px rgba(222, 151, 255, 0.6),
        0px 0px 60px rgba(222, 151, 255, 0.3),
        0px 0px 5px rgb(222, 151, 255);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(152, 107, 172);
    color: rgb(255, 255, 255);
}

.checkbox:not(:checked)+.switch {
    background-color: #333;
    border-color: #555;
    color: #888;
}